*{
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
}
body{
  background-color: white;
  min-height: 100vh;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text-h1{
  color:rgb(62, 52, 52)
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}
.board{
  /* border: 1px solid black; */
  background-color: whitesmoke;
  box-shadow: 0 4px 8px rgb(62, 52, 52);
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.text-h2{ 
  color:rgb(62, 52, 52)
}
.card{
  /* border: 1px solid black; */
  background-color: white;
  padding: 10px 80px;
  box-shadow: 0 2px 4px rgb(0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: grabbing;
  margin-bottom: 20px;
}
.card:active{
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgb(0, 0, 0.2);
}
.input-butt{
  background-color: whitesmoke;
  border: none;
  padding: 10px 20px;
  margin: 10px;
}
.sec-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: none; */
  justify-content: center;
  align-items: center;
  z-index: 999; /* Optional: keeps it on top */
}

  .icons {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: whitesmoke;
    border: none;
    outline: none;
    padding-top: 5px;
    gap: 5px;
    width: 150%;
  }
  .textarea {
    width: 150%;
    height: 200px;
    background-color: whitesmoke;
    border: none;
    outline: none;
    padding: 10px;
  }



@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}
